.loginpage-container {
    font-family: Arial, Helvetica, sans-serif;
}

/*------------------HEADER------------------*/
.loginpage-header {
    background-color: rgba(22, 133, 184, 0.81);
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    width: 100%;
    min-height: 75px;

    display: flex;
    flex-direction: row;
        
    align-items: center;
    justify-content: space-between;    
}

/*------Logo------*/
.loginpage-logo{
    margin-left: 4%;
    cursor: pointer;
}
.loginpage-logo img {
    width: 170px;
}
.loginpage-menu{
    margin-right: 4%;
    display: flex;
    gap: 15px;
}
.loginpage-body {
    background-color: white;
    border: 2px solid #1685b8;
    border-radius: 20px;
    position: relative;
    top: 50px;
    padding: 40px;
    width: 90%;
    max-width: 400px;
    margin: 0 auto;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.loginpage-body-text{
    text-align: center;
    margin-bottom: 20px;
}

.loginpage-form .form-group {
    margin-bottom: 15px;
}
.loginpage-form label {
    display: block;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    color: #333;
    margin-bottom: 5px;
}
.loginpage-form input {
    width: 95%;
    padding: 10px;
    border: 2px solid #1685b8;
    border-radius: 20px;
    background-color: #b3d9f2;
    outline: none;
    font-size: 14px;
    color: #333;
}

.loginpage-form input:focus {
    border-color: #0d6efd;
    background-color: #e6f7ff;
}

.loginpage-form .btn-1 {
    width: 50%; /* Reduce aún más el ancho del botón */
    padding: 6px; /* Ajusta el padding */
    font-size: 18px; /* Reduce el tamaño de la fuente */
    margin: 10px auto 0 auto; /* Centra el botón horizontalmente */
    display: block; /* Asegura que el botón se comporte como un bloque */
    text-align: center; /* Centra el texto dentro del botón */
    text-decoration: none;
}

.loginpage-form .btn-1 a {
    text-decoration: none;
    color: inherit;
}

.loginpage-form .btn-1:hover {
    background-color: #1685b8;
    color: white;
}

/* Ventanita de error personalizada */
.custom-error-modal {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #f8d7da; /* Fondo rojo claro */
    color: #721c24; /* Texto rojo oscuro */
    border: 1px solid #f5c6cb; /* Borde rojo */
    border-radius: 5px;
    padding: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    animation: slide-in 0.5s ease-out;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 300px;
    font-size: 14px;
}

/* Botón de cerrar */
.close-error-modal {
    background: none;
    border: none;
    font-size: 16px;
    cursor: pointer;
    color: #721c24;
    margin-left: 10px;
}

/* Animación de entrada */
@keyframes slide-in {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}