@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

.homepage-container {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

/*------------------HEADER------------------*/
.homepage-header {
    background-color: rgba(22, 133, 184, 0.81);
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    width: 100%;
    min-height: 75px;

    display: flex;
    flex-direction: row;
        
    align-items: center;
    justify-content: space-between;    
}

/*------Logo------*/
.homepage-logo{
    margin-left: 4%;
    cursor: pointer;
}
.homepage-logo img {
    width: 170px;
}
/*------Menu------*/
.homepage-menu{
    margin-right: 4%;
    display: flex;
    gap: 15px;
}
/*------Menu------*/



/*------------------HEADER------------------*/

/*------------------BODY------------------*/
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.homepage-body{
    width: 80%;
    margin: 0 auto;
    margin-top: 3%;
    animation: fadeIn 2s ease-in-out;
}
.homepage-body-text{
    text-align: center;
}
.homepage-body-img{
    margin-top: 2%;
}
.homepage-body-img img{
    border-radius: 20px;
    width: 600px;
    
    display: block;
    margin: 0 auto;
}

/*Footer*/
.homepage-footer{
    background-color: rgba(22, 133, 184, 0.81);
    user-select: none;
}



.carousel-indicators {
  color: transparent;
  font-size: 0;
}
.carousel-indicators li {
  font-size: 0;
}

.carousel-indicators [data-bs-target] {
  background-color: #111 !important;
  border: none;
  height: 4px;
  width: 32px;
  border-radius: 2px;
  opacity: 0.5;
  margin: 0 4px;
  transition: opacity 0.2s;
}
.carousel-indicators .active {
  opacity: 1;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  filter: invert(1) grayscale(1) brightness(0.2);
}

