.note-container{
    border: solid red 2px;
    display: flex;
    flex-direction: column;
}
.note-header{
    border: solid green 1px;
}
.note-elements{
    border: solid green 1px;
    display: flex;
    justify-content: space-evenly;
}
.note-element{
    background-color: rgba(41, 53, 49, 0.589);
    border: solid rgba(21, 21, 51, 0.637) 1px;
}

.note-element-title{

}
.note-element-description{

}