.navbar-header {
    background-color: rgba(22, 133, 184, 0.81);
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    width: 100%;
    min-height: 75px;

    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: space-between;
}

/*------Logo------*/
.navbar-logo {
    margin-left: 4%;
    cursor: pointer;
}

.navbar-logo img {
    width: 170px;
}

.navbar-menu {
    margin-right: 4%;
    display: flex;
    gap: 15px;
}

/* Estilo para la barra de búsqueda */
.navbar-search {
    margin-right: 4%;
    display: flex;
    align-items: center;
    gap: 10px; /* Espaciado entre el input y los botones */
}

.navbar-search input {
    padding: 8px 16px;
    border: 2px solid rgba(22, 133, 184, 0.81);
    border-radius: 20px;
    outline: none;
    font-size: 14px;
    transition: all 0.3s ease;
    width: 150px; /* Tamaño más pequeño */
    height: 40px; /* Altura acorde a los botones */
}

.navbar-search input:focus {
    border-color: rgba(22, 133, 184, 1);
    box-shadow: 0 0 5px rgba(22, 133, 184, 0.5);
}

.navbar-search button {
    background-color: rgba(22, 133, 184, 0.81);
    color: white;
    border: none;
    border-radius: 20px;
    padding: 8px 16px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

.navbar-search button:hover {
    background-color: rgba(22, 133, 184, 1);
}

/* Menú del perfil */
.navbar-profile-menu {
}

.profile-icon{

}

.dropdown-menu{
    background-color: white;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.479);
    border-radius: 10px;
    position: absolute;
    top: 50px;
    right: 0px;
    z-index: 100;
    overflow: hidden;
}

.dropdown-menu-item{
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    color: black;
    cursor: pointer;
    border: none;
    border-radius: 8px;
}

.dropdown-menu-item:hover{
    background-color: rgb(88, 142, 224);
}

.profile-icon-img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    cursor: pointer;
}