/* Estilos generales para el contenedor del login */
#login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
    padding: 20px;
  }
  
  /* Estilos para el formulario de registro */
  #register-form {
    background-color: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
  }
  
  #register-title {
    text-align: center;
    font-size: 28px;
    margin-bottom: 20px;
  }
  
  #register-form-fields {
    display: flex;
    flex-direction: column;
  }
  
  #register-form-fields input {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
  }
  
  #register-button {
    background-color: #007BFF;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
  }
  
  #register-button:hover {
    background-color: #0056b3;
  }
  
  /* Estilos para el enlace que alterna entre login y registro */
  #login-toggle,
  #register-toggle {
    text-align: center;
    font-size: 14px;
  }
  
  #toggle-login, #toggle-register {
    color: #007BFF;
    cursor: pointer;
    text-decoration: underline;
  }
  
  #toggle-login:hover, #toggle-register:hover {
    color: #0056b3;
  }
  
  /* Estilos para el formulario de inicio de sesión */
  #login-form {
    background-color: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
  }
  
  #login-title {
    text-align: center;
    font-size: 28px;
    margin-bottom: 20px;
  }
  
  #login-form-fields {
    display: flex;
    flex-direction: column;
  }
  
  #login-form-fields input {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
  }
  
  #login-button {
    background-color: #007BFF;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
  }
  
  #login-button:hover {
    background-color: #0056b3;
  }
  