.navbar-header {
    background-color: rgba(22, 133, 184, 0.81);
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    width: 100%;
    min-height: 75px;

    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: space-between;
}

/*------Logo------*/
.navbar-logo {
    margin-left: 4%;
    
}

.navbar-logo img {
    width: 170px;
}

.navbar-menu {
    margin-right: 4%;
    display: flex;
}

/* Estilo para la barra de búsqueda */
.navbar-search {
    margin-right: 4%;
    display: flex;
    align-items: center;
    gap: 10px; /* Espaciado entre el input y los botones */
    
}

.navbar-search input {
    padding: 8px 16px;
    border: 2px solid rgba(22, 133, 184, 0.81);
    border-radius: 20px;
    outline: none;
    font-size: 14px;
    transition: all 0.3s ease;
    width: 150px; /* Tamaño más pequeño */
    height: 40px; /* Altura acorde a los botones */
}

.navbar-search input:focus {
    border-color: rgba(22, 133, 184, 1);
    box-shadow: 0 0 5px rgba(22, 133, 184, 0.5);
}

.navbar-search button {
    background-color: rgba(22, 133, 184, 0.81);
    color: white;
    border: none;
    border-radius: 20px;
    padding: 8px 16px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

.navbar-search button:hover {
    background-color: rgba(22, 133, 184, 1);
}

/*--------Menu del perfil--------*/
.navbar-profile-menu {
    user-select: none;
}

/* Contenedor de la imagen del perfil */
.profile-icon {
    cursor: pointer;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;       
}

/* Imagen del avatar */
.avatar-img {
    height: 100%; 
}

  
.dropdown-menu {
    position: absolute;
    top: 50px;
    right: 0;
    background-color: white;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.2);
    border-radius: 8px;
    overflow: hidden;
    z-index: 100;
}

.dropdown-item {
    display: block;
    padding: 10px 15px;
    color: black;
    text-decoration: none;
    background-color: white;
    border: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
}

.dropdown-item:hover {
    background-color: #f0f0f0;
}
/*--------Menu del perfil--------*/


  