/*-------HEADER-------*/
.navbar-header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;

    background-color: rgba(22, 133, 184, 0.81);
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;

    min-height: 150px;

}

.navbar-logo {
    margin-left: 2%;
    cursor: pointer;
}

.navbar-logo img {
    height: 100px;
}

.navbar-menu {
    display: flex;
    gap: 10px;
    margin-right: 2%;
}

/*-------HEADER-------*/